* {
  margin: 0;
  padding: 0;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

main {
  background-color: hsl(47, 88%, 63%);
  height: 100vh;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cardBox {
  border: 2px solid #121212;
  border-radius: 20px;
  width: 20%;
  height: 55vh;
  background-color: white;
  display: flex;
  flex-direction: column;

  box-shadow: 8px 6px 0px 4px rgba(18, 18, 18, 1);
  -webkit-box-shadow: 10px 6px 0px 4px rgba(18, 18, 18, 1);
  -moz-box-shadow: 10px 6px 0px 4px rgba(18, 18, 18, 1);

  img {
    width: 250px;
    height: 150px;
    margin-top: 20px;
    border-radius: 5px;
    align-self: center;
  }
}

.boxText {


  h1{
    font-size: 20px;
    margin-left: 20px;
     margin-top: 8px;
  }
}


.status  {
    height: 3vh;
    width: 9vh;
    color: hsl(0, 0%, 7%);
    text-align: center;
    margin-top: 25px;
    margin-left: 20px;
    border-radius: 5px;
    background-color: hsl(47, 88%, 63%);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }

  .data{
    font-size: 13px;
     margin-left: 20px;
     margin-top: 7px;
     color: hsl(0, 0%, 7%);
  }

  .description{
    font-size: 14px;
     margin-left: 20px;
     margin-top: 10px;
     width: 85%;
     color: hsl(0, 0%, 42%);
  }

.user {
    display: flex;
    
    img{
        width: 30px;
        height: 30px;
        border-radius: 50px;
        margin-left: 20px;
        margin-top: 35px;
    }

    p{
        margin-top: 40px;
        margin-left: 7px;
        font-size: 14px;
        font-weight: bold;
    }
}

@media screen and (min-width: 375px) and (max-width: 1360px) {
  .cardBox {
    width: 80%;
    height: 60vh;
  }

  .boxText h1 {
    font-size: 18px;
  }

  .description {
    font-size: 13px;
    width: 90%;
  }
    
}
